header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

nav{
    display: inline-block;
}
nav li{
    list-style: none;
    margin: 5px;
    margin-right: 15px;
    float: right;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

header nav{
    float: right;
}
body{
    background-image: url(../img/pattern.jpg);

}

article{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-bottom: inset;
    border-width: 1px;
}

section {
    margin: auto;
    margin-top: 80px;
    width: 70%;
    }

footer{
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 1px;
    font-size: 20px;
    }

